//кофейная тема
$themecolor: #4e3c38
$titleh1color: #4d4338
$titleh3color: #987e6e
$textcolor: #3c342c
$titleh3colorTecnology: #ddd2ca
$a_hover: #af9483

//синяя тема
//$themecolor: #889EDB
//$titleh1color: #606091
//$titleh3color: #889EDB
//$textcolor: #313334

//модификаторы заголовков
.section
  &__title_color
    color: $titleh1color
  &__descr_color
    color: $titleh1color

.title
  &_h3_color
    color: $titleh3color
  &_h3_tecnology_color
    color: $titleh3colorTecnology
//модификаторы секций
.section
  &_bgc_theme
    background-color: $themecolor
  &_bgc_e7
    background-color: #e7e7e7
  &_bgc_dark
    background-color: #222222
  &_bgc_darkest
    background-color: #121516
  &_bgc_blue
    background-color: #889EDB
  &_color_fff
    color: #ffffff

//модификаторы элементов
.section
  &-portfolio-item-wrap
    &__button_color
      &:hover
        color: #B89C84
        border: 1px solid #B89C84
        text-decoration: none
      &, &:visited
        color: $titleh3color
        border: 1px solid $titleh3color
        text-decoration: none


body
  font-family: "Raleway", sans-serif
  font-weight: normal
  font-size: 14px
  overflow-x: hidden
  position: relative
  line-height: 1.6
  margin: 0
  color: $textcolor
  a
    color: $themecolor
    &:hover
      color: $a_hover
    &:active
      color: $titleh3color
    &:focus
      color: $titleh3color
    //&:visited
    //  color: $titleh3color
  ul
    padding: 0
    margin: 0

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: red

body input:required:valid,
body textarea:required:valid
  color: green

.hidden
  display: none

header, section
  position: relative

section, footer
  padding: 50px 0

.head
  height: 100vh
  background: url("../img/bg2.jpg") no-repeat top center
  background-size: cover
  background-attachment: fixed
  &_bgc_darker
    background-color: rgba(0, 0, 0, 0.4)

header .button-toggle
  width: 70px
  height: 70px
  display: flex
  position: fixed
  right: 20px
  top: 20px
  margin-top: 25px
  background-color: #080907
  border: none
  border-radius: 40%
  justify-content: center
  align-items: center
  z-index: 15
  outline: none
  cursor: pointer

.menu
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .8)
  display: none
  z-index: 10
  &-wrapper
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    &__ul
      margin: 0
      padding: 0
      width: 100%
  &-item
    text-align: center
    margin-bottom: 25px
    list-style-type: none
    a
      color: $titleh3color
      display: block
      font-size: 3em
      text-decoration: none
      &:hover
        color: #ffffff
        transition: 1s
        background-color: rgba(255, 255, 255, .1)
        text-decoration: none

.content-wrapper
  height: 100vh
  color: #e8e8e8
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  z-index: 10

  &__name
    border: 0.15em solid #e8e8e8
    padding: 16px 32px
    text-transform: uppercase
    font-size: 2.8em
    text-align: center
    font-weight: 500
    animation-delay: 1s
    cursor: pointer
    box-shadow: 0 0 25px #fff
  &__dscr
    font-size: 1.5em
    text-align: center
    animation-delay: 1.5s

.section
  &-photo
    text-align: center
    margin-bottom: 35px
    &__img
      max-width: 255px
      border-radius: 50%
  &-about
    &__content
      margin: 25px 0
    &__title
      text-align: center
  &-person
    margin-bottom: 35px
    &-social
      &__item
        display: inline-block
        font-size: 2em
        margin-right: 15px
      &_margin-padding
        margin-top: 25px
        padding: 0
      &_margin0
        margin: 0
      &_textAlign_end
        text-align: end
    &__name
      font-size: 20px
      text-transform: uppercase
      margin-bottom: 30px
    &__content
      padding: 0
      & li
        list-style: none
        margin-bottom: 15px
      & a
        color: $themecolor
      & a:hover
        color: #987e6e
  &-tecnology
    &-wrap
      display: flex
      flex-wrap: wrap
      &-item
        width: 32%
        height: 150px
        margin: 5px
        display: flex
        transition: all 0.5s linear
        filter: saturate(90%)
        &:hover
          transition: all 0.5s linear
          border-radius: 25px
          filter: saturate(450%)
        &:nth-child(1)
          background-image: url("../img/tecnology/last-pic-1.png")
        &:nth-child(2)
          background-image: url("../img/tecnology/last-pic-2.png")
        &:nth-child(3)
          background-image: url("../img/tecnology/last-pic-3.png")
        &:nth-child(4)
          background-image: url("../img/tecnology/last-pic-4.png")
        &:nth-child(5)
          background-image: url("../img/tecnology/last-pic-5.png")
        &:nth-child(6)
          background-image: url("../img/tecnology/last-pic-6.png")
        &__title
          padding: 15px
          align-self: center

  &-resume
    &-item
      margin-top: 30px
      &__year
        padding: 0 10px
        display: inline-block
        color: #F3F3F3
        font-weight: 700
        margin-bottom: 5px
      &__place, &__position
        display: inline-block
      &__position
        font-weight: 800
        text-transform: uppercase
        letter-spacing: 1.5px
        margin: 10px 0
        &_vertical_align
          vertical-align: top
          line-height: 57px
      &__place
        margin: 10px 15px 10px 0
        font-weight: 500
        font-size: 12px
      &__descr
        font-size: 16px
    &__title
      margin: 10px
    &__button
      color: $titleh3color
      background-color: $textcolor
      text-align: center
      display: block
      justify-self: center
      height: 35px
      margin: 35px auto auto
      max-width: 450px
      line-height: 35px
      letter-spacing: 2px
      transition: 1s
      &:hover
        text-decoration: none
        background-color: $themecolor
        color: #e7e7e7
        transition: 1s
    &__logo
      font-size: 2em
      margin: 0 8px
      color: #7A7A7A
    &_ta_right
      text-align: right
      border-right: $themecolor solid 1px
    &_ta_left
      text-align: left
  &-portfolio-item
    width: 100%
    height: 250px
    background-size: cover
    text-align: center
    background-position: center bottom

    &-decr
      background-color: #fff
      max-width: 500px
      margin: auto
      text-align: center
      padding: 20px
      color: $themecolor
      &__decr
        color: $textcolor
      &__img
        width: 100%
    &-wrap
      background-color: rgba(0, 0, 0, .6)
      height: 100%
      padding: 10%
      opacity: 0
      transition: all .25s
      &__decr
        color: #d3d3d3
      &__button
        background-color: transparent
        padding: 2px 10px
    &-wrap:hover
      opacity: 1
    &_bg:nth-child(1)
      & .section-portfolio-item
        background-image: url('../portf/dist3/img/view.png')
    &_bg:nth-child(2)
      & .section-portfolio-item
        background-image: url('../portf/dist4/img/view.png')
    &_bg:nth-child(3)
      & .section-portfolio-item
        background-image: url('../portf/dist1/img/1.jpg')
    &_bg:nth-child(4)
      & .section-portfolio-item
        background-image: url('../portf/dist2/img/view.jpg')
  &_bgc_about, &_bgc_contacts
    background-color: #fafafa
  &_text-align-center
    text-align: center
  &__separator
    height: 1px
    width: 150px
    margin: 40px auto
.foot
  display: flex
  flex-direction: row
  justify-content: space-between
  &__content
    line-height: 44px
  > div
    margin: 0 30px
.title_text
  font-size: 14px
  text-transform: uppercase
  font-weight: 400
  margin-bottom: 30px
  letter-spacing: 1.5px


.margin_bottom_15
  margin-bottom: 15px
